body {
    overflow-y: scroll;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    background: var(--gray01);
    width: 100%;
}

.main-logo {
    width: 300px;
    margin: 30px;
}

.main-champion-search-container {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    background: var(--gray02);

    .champion-search-input-container {
        height: 50px;
        background: var(--gray03);
        border: 1px solid var(--main);
        width: 500px;
        
        input {
            color: var(--white01);
        }
    }

}


.champions-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    border-radius: .4em;
    background: var(--gray02);
    margin: 50px 20%;
    padding: 20px;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        height: 100px;
        width: 80px;
        text-decoration: none;
        
        span {
            color: var(--white01);
            overflow: hidden;
            font-size: 14px;
        }
        
        img {
            border-radius: .4em;
            height: 70px;
        }
    }

    h2 {
        width: 100%;
        color: #000;
        padding: 5px 10px;
        margin-bottom: 10px;
    }
}

.tier-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h2.tier-s {
    background: var(--tier-s01);
    border-radius: .4em;
}

h2.tier-a {
    background: var(--tier-a01);
    border-radius: .4em;
}

h2.tier-b {
    background: var(--tier-b01);
    border-radius: .4em;
}

h2.tier-c {
    background: var(--tier-c01);
    border-radius: .4em;
}

h2.tier-d {
    background: var(--tier-d01);
    border-radius: .4em;
}

@media screen and (max-width: 600px) {
    .champions-container {
        margin: 0;
        background: var(--gray03);
    }
}